/* About me Startbereich */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

.container {
    display: flex;
    gap: 1.2rem;
    align-items: stretch;
    justify-content: center;
}

.container-3:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.text {
    display: flex;
    justify-self: center;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    width: 90%;
    padding-bottom: 1px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Crimson Text', serif;
    color: white;
    font-size: 22px;
    overflow: auto;
    text-align: center;
}

/* sieht hier schöner zentriert aus */
app-title-box {
    text-align: center;
    padding: 30px;
    font-size: 28px;
}

.picture {
    margin-top: 30px;
    grid-column: 1;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.picture img {
    width: clamp(1px, 40%, 400px);
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    border: 3px solid black
}

/* Skills */
.container-flex {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.list {
    margin-top: 1.7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    color: white;
    width: 100%;
}

.list-header {
    font-weight: bold;
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: outside;
    margin-right: 20%;
}

/* Education */
.container-education {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.container-flex:nth-child(3) {
    grid-row: 1 / span 2;
}

/* Tablet */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 65%;
        margin-left: 4%;
    }

    .picture {
        grid-row: 1;
        grid-column: 1;
        width: 70%;
        height: 130%;
        margin-left: 63%;
        margin-top: 15%;
    }

    .picture img {
        width: 70%;
    }

    .container:nth-child(1) {
        justify-content: flex-start;
    }

    .container-4 {
        display: flex;
        justify-content: left;
        margin-left: 40px;
        gap: 3rem;

    }

    .container-3:nth-child(2) {
        margin-top: 2%;
        margin-left: 47%;
        grid-column: 1;
        grid-row: 1;
        width: 100%;

        app-horizontal-line {
            visibility: hidden;
        }
    }

    .container-3:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }

    .text {
        grid-column: 1;
        grid-row: 2;
        font-size: 1rem;
        width: 47%;
    }

    .header {
        font-size: 26px;
        justify-content: center;
        margin: 0;
        margin-top: 30px;
        width: 55%;
    }

    app-title-box {
        font-size: 40px;
    }

    ul {
        margin-right: 1.4rem;
        list-style-position: inside;
        padding: 0;
    }

    /* Skills */
    .container-flex:nth-child(3) {
        margin-top: 4rem;
    }

    /* Education */
    .container-flex:nth-child(3) {
        
        grid-row: 1 / span 2;
    }

    .container-flex:nth-child(1) {
        font-size: 50px;
    }

    .container-flex:nth-child(4) {
        font-size: 50px;
    }

    .container-flex:nth-child(5) {
        margin-top: 4rem;
    }

    .text:nth-child(5) {
        width: 100%;
    }

    .text:nth-child(2) {
        width: 100%;
    }

    /* Experience */
    .container-flex:nth-child(8) {
        margin-top: 4rem;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .grid-container {
        margin-left: 0;
    }

    .text {
        font-size: 1.6rem;
        width: 45.25%;
    }

    .header {
        font-size: 30px;
        width: 50%;
    }

    app-title-box {
        font-size: 50px;
    }

    .container-3:nth-child(2) {
        width: 100%;
        margin-left: 50%;
    }

    .picture {
        grid-row: 1;
        margin-left: 91%;
        margin-top: 14%;
        width: 20%;
    }

    .picture img {
        width: 100%;
    }

    .container-flex {
        margin-top: 1%;
    }

    /* Skills */
    .container-flex:nth-child(3) {
        margin-top: 6rem;
    }

    /* Education */
    .container-flex:nth-child(5) {
        margin-top: 6rem;
    }

    /* Experience */
    .container-flex:nth-child(8) {
        margin-top: 6rem;
    }
}