.header {
    display: flex;
    gap: 1.2rem;
    align-items: stretch;
}
.title-box {
    background: linear-gradient(
        135deg,
        rgba(85, 3, 62, 0.65) 0%,
        rgba(42, 12, 150, 0.65) 100%
    );
    backdrop-filter: blur(16px) saturate(1.5);
    -webkit-backdrop-filter: blur(16px) saturate(1.5);
    box-shadow: 
        0 4px 10px rgba(0,0,0,0.2),
        inset 0 1px 0 rgba(255,255,255,0.15);
    color: white;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid rgba(0, 0, 0, 0.425); 
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-size: 1.8rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 90%;
    margin: auto;
    padding-bottom: 1px;
}

.line-vertical {
    display: none; /* Sieht auf mobile ebene nicht schön aus, deswegen ausgeblendet*/
    width: 2px;              
    background-color: #B40B84;
    align-self: stretch;
    margin-top: 2px;
    margin-bottom: 3px;
}

/* Tablet */
@media (min-width: 768px) {
    .title-box {
        font-size: 2rem;
        padding: 30px;
        width: 45%; /* Musste so unorthodox angepasst werden, damit die schrift nicht über/untereinander lappt*/
        margin: 0%;
        padding-bottom: 1px;
    }
    .line-vertical {
        display: block;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .title-box {
        font-size: 2.5rem;
        width: 45%; /* Musste so unorthodox angepasst werden, damit die schrift nicht über/untereinander lappt*/
        padding: 40px 25px;
        padding-bottom: 1px;
    }
    .line-vertical {
        display: block;
    }
}

